In [2]:
import pandas as pd

In [3]:
#load data
df1=pd.read_csv('Amazon Echo 2 Reviews.csv')

In [4]:
#view
df1.head()

,Pageurl,Title,Review Text,Review Color,User Verified,Review Date,Review Useful Count,Configuration Text,Rating,Declaration Text
0,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Three Stars,Not great speakers,Black,Verified Purchase,10/3/2017,NaN,Echo Dot,3,NaN
1,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Four Stars,Great little gagit,White,Verified Purchase,9/26/2017,NaN,Echo Dot,4,NaN
2,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Awesome!,Awesome üëèüèΩ,White,Verified Purchase,9/8/2017,NaN,Echo Dot,5,NaN
3,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,Love my Echo,Black,Verified Purchase,10/19/2017,NaN,Echo Dot,5,NaN
4,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,Great device,Black,Verified Purchase,9/17/2017,NaN,Echo Dot,5,NaN

In [5]:
df1.tail()

,Pageurl,Title,Review Text,Review Color,User Verified,Review Date,Review Useful Count,Configuration Text,Rating,Declaration Text
6850,https://www.amazon.com/All-New-Amazon-Echo-Dot...,In love with Alexa!!,This is so much fun! I love her.,Black,Verified Purchase,9/17/2017,NaN,Echo Dot,5,NaN
6851,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,I'm having a lot of fun with it.,White,Verified Purchase,9/16/2017,NaN,Echo Dot,5,NaN
6852,https://www.amazon.com/All-New-Amazon-Echo-Dot...,We would still like to exchange for something ...,I bought this as a gift for my husband and he ...,Black,Verified Purchase,9/26/2017,NaN,Echo Dot,3,NaN
6853,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Simply fabulous!,I have now set Alexa up to control lights in m...,Black,Verified Purchase,9/27/2017,NaN,Echo Dot,5,NaN
6854,https://www.amazon.com/All-New-Amazon-Echo-Dot...,"Bummer, didnt even make it through its voice t...","What a shame, I tried one my friend has and wa...",Black,Verified Purchase,9/12/2017,NaN,Echo Dot,2,NaN

In [6]:
#inspect
df1.shape

(6855, 10)

In [7]:
df1.columns

Index(['Pageurl', 'Title', 'Review Text', 'Review Color', 'User Verified',
       'Review Date', 'Review Useful Count', 'Configuration Text', 'Rating',
       'Declaration Text'],
      dtype='object')

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6855 entries, 0 to 6854
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Pageurl              6855 non-null   object
 1   Title                6855 non-null   object
 2   Review Text          6850 non-null   object
 3   Review Color         6855 non-null   object
 4   User Verified        6641 non-null   object
 5   Review Date          6855 non-null   object
 6   Review Useful Count  28 non-null     float64
 7   Configuration Text   6855 non-null   object
 8   Rating               6855 non-null   int64
 9   Declaration Text     6 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 535.7+ KB

In [9]:
df1.describe()

       Review Useful Count       Rating
count            28.000000  6855.000000
mean             17.071429     4.207002
std              58.266265     1.272551
min               2.000000     1.000000
25%               2.000000     4.000000
50%               2.000000     5.000000
75%               2.000000     5.000000
max             284.000000     5.000000

In [10]:
#checking missing values
df1.isnull().sum()

Pageurl                   0
Title                     0
Review Text               5
Review Color              0
User Verified           214
Review Date               0
Review Useful Count    6827
Configuration Text        0
Rating                    0
Declaration Text       6849
dtype: int64

In [11]:
#dropping unneccesary columns with null values
df1.drop(['User Verified','Review Useful Count','Declaration Text'],axis=1,inplace=True)

In [12]:
df1.head()

,Pageurl,Title,Review Text,Review Color,Review Date,Configuration Text,Rating
0,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Three Stars,Not great speakers,Black,10/3/2017,Echo Dot,3
1,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Four Stars,Great little gagit,White,9/26/2017,Echo Dot,4
2,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Awesome!,Awesome üëèüèΩ,White,9/8/2017,Echo Dot,5
3,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,Love my Echo,Black,10/19/2017,Echo Dot,5
4,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,Great device,Black,9/17/2017,Echo Dot,5

In [13]:
#dropping rows with nulls
df1.dropna(inplace=True)

In [14]:
df1.head()

,Pageurl,Title,Review Text,Review Color,Review Date,Configuration Text,Rating
0,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Three Stars,Not great speakers,Black,10/3/2017,Echo Dot,3
1,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Four Stars,Great little gagit,White,9/26/2017,Echo Dot,4
2,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Awesome!,Awesome üëèüèΩ,White,9/8/2017,Echo Dot,5
3,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,Love my Echo,Black,10/19/2017,Echo Dot,5
4,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,Great device,Black,9/17/2017,Echo Dot,5

In [15]:
#check for duplicates
df1.duplicated().sum()

np.int64(0)

In [16]:
#dropping unneccesary columns 
df1.drop(['Pageurl','Title','Review Color','Configuration Text','Review Date'],axis=1,inplace=True)

In [17]:
df1.head()

          Review Text  Rating
0  Not great speakers       3
1  Great little gagit       4
2          Awesome üëèüèΩ       5
3        Love my Echo       5
4        Great device       5

In [18]:
#loading next data
df2=pd.read_csv('Amazon Review Data Web Scrapping - Amazon Review Data Web Scrapping.csv')

In [19]:
#view
df2.head()

,Unique_ID,Category,Review_Header,Review_text,Rating,Own_Rating
0,136040,smartTv,Nice one,I liked it,5,Positive
1,134236,mobile,Huge battery life with amazing display,I bought the phone on Amazon and been using my...,5,Positive
2,113945,books,Four Stars,"Awesome book at reasonable price, must buy ......",4,Positive
3,168076,smartTv,Nice quality,good,5,Positive
4,157302,books,Nice book,"The book is fine,not bad,contains nice concept...",3,Neutral

In [20]:
#inspect
df2.shape

(60889, 6)

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60889 entries, 0 to 60888
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unique_ID      60889 non-null  int64
 1   Category       60889 non-null  object
 2   Review_Header  60884 non-null  object
 3   Review_text    60857 non-null  object
 4   Rating         60889 non-null  int64
 5   Own_Rating     60889 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.8+ MB

In [22]:
df2.describe()

           Unique_ID        Rating
count   60889.000000  60889.000000
mean   140444.000000      4.081148
std     17577.284607      1.342067
min    110000.000000      1.000000
25%    125222.000000      4.000000
50%    140444.000000      5.000000
75%    155666.000000      5.000000
max    170888.000000      5.000000

In [23]:
#check for null values
df2.isnull().sum()

Unique_ID         0
Category          0
Review_Header     5
Review_text      32
Rating            0
Own_Rating        0
dtype: int64

In [24]:
#dropping rows with null
df2.dropna(inplace=True)

In [25]:
df2.isnull().sum()

Unique_ID        0
Category         0
Review_Header    0
Review_text      0
Rating           0
Own_Rating       0
dtype: int64

In [26]:
#check for duplicates
df2.duplicated().sum()

np.int64(0)

In [27]:
df2.head()

,Unique_ID,Category,Review_Header,Review_text,Rating,Own_Rating
0,136040,smartTv,Nice one,I liked it,5,Positive
1,134236,mobile,Huge battery life with amazing display,I bought the phone on Amazon and been using my...,5,Positive
2,113945,books,Four Stars,"Awesome book at reasonable price, must buy ......",4,Positive
3,168076,smartTv,Nice quality,good,5,Positive
4,157302,books,Nice book,"The book is fine,not bad,contains nice concept...",3,Neutral

In [28]:
#dropping unneccesary columns
df2.drop(['Unique_ID','Category','Review_Header','Own_Rating'],axis=1,inplace=True)

In [29]:
df2.head()

                                         Review_text  Rating
0                                         I liked it       5
1  I bought the phone on Amazon and been using my...       5
2  Awesome book at reasonable price, must buy ......       4
3                                               good       5
4  The book is fine,not bad,contains nice concept...       3

In [30]:
#loading next data
df4=pd.read_csv('amazon_review.csv')

In [31]:
#view
df4.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
0,A3SBTW3WS4IQSN,B007WTAJTO,NaN,"[0, 0]",No issues.,4.0,Four Stars,1406073600,2014-07-23,138,0,0
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0

In [32]:
df4.tail()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
4910,A2LBMKXRM5H2W9,B007WTAJTO,"ZM ""J""","[0, 0]",I bought this Sandisk 16GB Class 10 to use wit...,1.0,Do not waste your money.,1374537600,2013-07-23,503,0,0
4911,ALGDLRUI1ZPCS,B007WTAJTO,Zo,"[0, 0]",Used this for extending the capabilities of my...,5.0,Great item!,1377129600,2013-08-22,473,0,0
4912,A2MR1NI0ENW2AD,B007WTAJTO,Z S Liske,"[0, 0]",Great card that is very fast and reliable. It ...,5.0,Fast and reliable memory card,1396224000,2014-03-31,252,0,0
4913,A37E6P3DSO9QJD,B007WTAJTO,Z Taylor,"[0, 0]",Good amount of space for the stuff I want to d...,5.0,Great little card,1379289600,2013-09-16,448,0,0
4914,A8KGFTFQ86IBR,B007WTAJTO,Zza,"[0, 0]",I've heard bad things about this 64gb Micro SD...,5.0,So far so good.,1388620800,2014-02-01,310,0,0

In [33]:
#inspect
df4.shape

(4915, 12)

In [34]:
df4.columns

Index(['reviewerID', 'asin', 'reviewerName', 'helpful', 'reviewText',
       'overall', 'summary', 'unixReviewTime', 'reviewTime', 'day_diff',
       'helpful_yes', 'total_vote'],
      dtype='object')

In [35]:
df4.describe()

           overall  unixReviewTime     day_diff  helpful_yes   total_vote
count  4915.000000    4.915000e+03  4915.000000  4915.000000  4915.000000
mean      4.587589    1.379465e+09   437.367040     1.311089     1.521465
std       0.996845    1.581857e+07   209.439871    41.619161    44.123095
min       1.000000    1.339200e+09     1.000000     0.000000     0.000000
25%       5.000000    1.365898e+09   281.000000     0.000000     0.000000
50%       5.000000    1.381277e+09   431.000000     0.000000     0.000000
75%       5.000000    1.392163e+09   601.000000     0.000000     0.000000
max       5.000000    1.406074e+09  1064.000000  1952.000000  2020.000000

In [36]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4915 entries, 0 to 4914
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      4915 non-null   object
 1   asin            4915 non-null   object
 2   reviewerName    4914 non-null   object
 3   helpful         4915 non-null   object
 4   reviewText      4914 non-null   object
 5   overall         4915 non-null   float64
 6   summary         4915 non-null   object
 7   unixReviewTime  4915 non-null   int64
 8   reviewTime      4915 non-null   object
 9   day_diff        4915 non-null   int64
 10  helpful_yes     4915 non-null   int64
 11  total_vote      4915 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 460.9+ KB

In [37]:
#check for null
df4.isnull().sum()

reviewerID        0
asin              0
reviewerName      1
helpful           0
reviewText        1
overall           0
summary           0
unixReviewTime    0
reviewTime        0
day_diff          0
helpful_yes       0
total_vote        0
dtype: int64

In [38]:
#dropping row with null
df4.dropna(inplace=True)

In [39]:
df4.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"[0, 0]","Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25,409,0,0
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,"[0, 0]",it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23,715,0,0
3,A3H99DFEG68SR,B007WTAJTO,1m2,"[0, 0]",This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21,382,0,0
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"[0, 0]","Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13,513,0,0
5,A2IDCSC6NVONIZ,B007WTAJTO,2Cents!,"[0, 0]",It's mini storage. It doesn't do anything els...,5.0,Not a lot to really be said,1367193600,2013-04-29,588,0,0

In [40]:
#dropping unneccessary columns
df4.drop(['helpful','day_diff','helpful_yes','total_vote'],axis=1,inplace=True)

In [41]:
df4.head()

,reviewerID,asin,reviewerName,reviewText,overall,summary,unixReviewTime,reviewTime
1,A18K1ODH1I2MVB,B007WTAJTO,0mie,"Purchased this for my device, it worked as adv...",5.0,MOAR SPACE!!!,1382659200,2013-10-25
2,A2FII3I2MBMUIA,B007WTAJTO,1K3,it works as expected. I should have sprung for...,4.0,nothing to really say....,1356220800,2012-12-23
3,A3H99DFEG68SR,B007WTAJTO,1m2,This think has worked out great.Had a diff. br...,5.0,Great buy at this price!!! *** UPDATE,1384992000,2013-11-21
4,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"Bought it with Retail Packaging, arrived legit...",5.0,best deal around,1373673600,2013-07-13
5,A2IDCSC6NVONIZ,B007WTAJTO,2Cents!,It's mini storage. It doesn't do anything els...,5.0,Not a lot to really be said,1367193600,2013-04-29

In [42]:
#check for duplicates
df4.duplicated().sum()

np.int64(0)

In [43]:
#dropping unneccesary columns 
df4.drop(['reviewerID','asin','reviewerName','summary','unixReviewTime','reviewTime'],axis=1,inplace=True)

In [44]:
df4.head()

                                          reviewText  overall
1  Purchased this for my device, it worked as adv...      5.0
2  it works as expected. I should have sprung for...      4.0
3  This think has worked out great.Had a diff. br...      5.0
4  Bought it with Retail Packaging, arrived legit...      5.0
5  It's mini storage.  It doesn't do anything els...      5.0

In [45]:
#load next data
df5=pd.read_csv('apple_iphone_11_reviews.csv')

In [46]:
#view
df5.head()

,index,product,helpful_count,total_comments,url,review_country,reviewed_at,review_text,review_rating,product_company,profile_name,review_title
0,0,Apple iPhone XR (64GB) - Black,"5,087 people found this helpful",24,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2018-12-12,NOTE:,3.0 out of 5 stars,Apple,Sameer Patil,"Which iPhone you should Purchase ? iPhone 8, X..."
1,1,Apple iPhone XR (64GB) - Black,"2,822 people found this helpful",6,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2018-11-17,Very bad experience with this iPhone xr phone....,1.0 out of 5 stars,Apple,Amazon Customer,Don't buy iPhone xr from Amazon.
2,2,Apple iPhone XR (64GB) - Black,"1,798 people found this helpful",0,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2019-01-27,Amazing phone with amazing camera coming from ...,5.0 out of 5 stars,Apple,A,Happy with the purchase
3,3,Apple iPhone XR (64GB) - Black,"1,366 people found this helpful",14,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2019-05-02,So I got the iPhone XR just today. The product...,1.0 out of 5 stars,Apple,Shubham Dutta,Amazon is not an apple authorised reseller. Pl...
4,4,Apple iPhone XR (64GB) - Black,536 people found this helpful,5,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2019-05-24,I've been an android user all my life until I ...,5.0 out of 5 stars,Apple,Nepuni Lokho,Excellent Battery life and buttery smooth UI

In [47]:
#inspect
df5.shape

(5010, 12)

In [48]:
df5.columns

Index(['index', 'product', 'helpful_count', 'total_comments', 'url',
       'review_country', 'reviewed_at', 'review_text', 'review_rating',
       'product_company', 'profile_name', 'review_title'],
      dtype='object')

In [49]:
df5.describe()

             index  total_comments
count  5010.000000     5010.000000
mean   2504.500000        0.030938
std    1446.406755        0.589420
min       0.000000        0.000000
25%    1252.250000        0.000000
50%    2504.500000        0.000000
75%    3756.750000        0.000000
max    5009.000000       24.000000

In [50]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5010 entries, 0 to 5009
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            5010 non-null   int64
 1   product          5010 non-null   object
 2   helpful_count    5010 non-null   object
 3   total_comments   5010 non-null   int64
 4   url              5010 non-null   object
 5   review_country   5010 non-null   object
 6   reviewed_at      5010 non-null   object
 7   review_text      5007 non-null   object
 8   review_rating    5010 non-null   object
 9   product_company  5010 non-null   object
 10  profile_name     5010 non-null   object
 11  review_title     5008 non-null   object
dtypes: int64(2), object(10)
memory usage: 469.8+ KB

In [51]:
#check for null
df5.isnull().sum()

index              0
product            0
helpful_count      0
total_comments     0
url                0
review_country     0
reviewed_at        0
review_text        3
review_rating      0
product_company    0
profile_name       0
review_title       2
dtype: int64

In [52]:
#dropping rows with nulls
df5.dropna(inplace=True)

In [53]:
df5.isnull().sum()

index              0
product            0
helpful_count      0
total_comments     0
url                0
review_country     0
reviewed_at        0
review_text        0
review_rating      0
product_company    0
profile_name       0
review_title       0
dtype: int64

In [54]:
df5.head()

,index,product,helpful_count,total_comments,url,review_country,reviewed_at,review_text,review_rating,product_company,profile_name,review_title
0,0,Apple iPhone XR (64GB) - Black,"5,087 people found this helpful",24,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2018-12-12,NOTE:,3.0 out of 5 stars,Apple,Sameer Patil,"Which iPhone you should Purchase ? iPhone 8, X..."
1,1,Apple iPhone XR (64GB) - Black,"2,822 people found this helpful",6,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2018-11-17,Very bad experience with this iPhone xr phone....,1.0 out of 5 stars,Apple,Amazon Customer,Don't buy iPhone xr from Amazon.
2,2,Apple iPhone XR (64GB) - Black,"1,798 people found this helpful",0,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2019-01-27,Amazing phone with amazing camera coming from ...,5.0 out of 5 stars,Apple,A,Happy with the purchase
3,3,Apple iPhone XR (64GB) - Black,"1,366 people found this helpful",14,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2019-05-02,So I got the iPhone XR just today. The product...,1.0 out of 5 stars,Apple,Shubham Dutta,Amazon is not an apple authorised reseller. Pl...
4,4,Apple iPhone XR (64GB) - Black,536 people found this helpful,5,https://www.amazon.in/Apple-iPhone-XR-64GB-Bla...,India,2019-05-24,I've been an android user all my life until I ...,5.0 out of 5 stars,Apple,Nepuni Lokho,Excellent Battery life and buttery smooth UI

In [55]:
#check for duplicates
df5.duplicated().sum()

np.int64(0)

In [56]:
#dropping unneccesary columns 
df5.drop(['index', 'product', 'helpful_count', 'total_comments', 'url','review_country', 'reviewed_at','product_company', 'profile_name', 'review_title'],axis=1,inplace=True)

In [57]:
df5.head()

                                         review_text       review_rating
0                                              NOTE:  3.0 out of 5 stars
1  Very bad experience with this iPhone xr phone....  1.0 out of 5 stars
2  Amazing phone with amazing camera coming from ...  5.0 out of 5 stars
3  So I got the iPhone XR just today. The product...  1.0 out of 5 stars
4  I've been an android user all my life until I ...  5.0 out of 5 stars

In [58]:
#load next data
df6=pd.read_csv('BoatProduct.csv')

In [59]:
#view
df6.head()

,ProductName,ProductPrice,Discount,NumberofReviews,Rate,Review,Summary
0,Stone 1000v2,"\nSale price‚Çπ 3,999",43% off,7 reviews,‚òÖ\n 5.0\n,Fantastic product,Very good product in this price range..
1,Stone 1000v2,"Sale price‚Çπ 3,999",43% off,7 reviews,‚òÖ\n 5.0\n,Outstanding,Outstanding Product
2,Stone 1000v2,"\nSale price‚Çπ 3,999",43% off,7 reviews,‚òÖ\n 5.0\n,Awesome,Works like a charm. Good sound quality. Visual...
3,Stone 1000v2,"\nSale price‚Çπ 3,999",43% off,7 reviews,‚òÖ\n 5.0\n,Boat stone 1000 v2,Great
4,Stone 1000v2,"\nSale price‚Çπ 3,999",43% off,7 reviews,‚òÖ\n 5.0\n,Quality sound,Amazing sound quality.totally premium.&.afford...

In [60]:
#inspect
df6.shape

(1449, 7)

In [61]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductName      1449 non-null   object
 1   ProductPrice     1448 non-null   object
 2   Discount         1448 non-null   object
 3   NumberofReviews  1448 non-null   object
 4   Rate             1448 non-null   object
 5   Review           874 non-null    object
 6   Summary          1448 non-null   object
dtypes: object(7)
memory usage: 79.4+ KB

In [62]:
df6.describe()

,ProductName,ProductPrice,Discount,NumberofReviews,Rate,Review,Summary
count,1449,1448,1448,1448,1448,874,1448
unique,184,49,44,90,8,374,734
top,TRebel Airdopes 141,"\nSale price‚Çπ 1,499",60% off,7 reviews,‚òÖ\n 4.8\n,Good,Good
freq,24,164,223,78,545,65,61

In [63]:
#check for null
df6.isnull().sum()

ProductName          0
ProductPrice         1
Discount             1
NumberofReviews      1
Rate                 1
Review             575
Summary              1
dtype: int64

In [64]:
#dropping nulls
df6.dropna(inplace=True)

In [65]:
#check duplicates
df6.duplicated().sum()

np.int64(309)

In [66]:
df6.drop_duplicates(inplace=True)

In [67]:
df6.head()

,ProductName,ProductPrice,Discount,NumberofReviews,Rate,Review,Summary
0,Stone 1000v2,"\nSale price‚Çπ 3,999",43% off,7 reviews,‚òÖ\n 5.0\n,Fantastic product,Very good product in this price range..
1,Stone 1000v2,"Sale price‚Çπ 3,999",43% off,7 reviews,‚òÖ\n 5.0\n,Outstanding,Outstanding Product
2,Stone 1000v2,"\nSale price‚Çπ 3,999",43% off,7 reviews,‚òÖ\n 5.0\n,Awesome,Works like a charm. Good sound quality. Visual...
3,Stone 1000v2,"\nSale price‚Çπ 3,999",43% off,7 reviews,‚òÖ\n 5.0\n,Boat stone 1000 v2,Great
4,Stone 1000v2,"\nSale price‚Çπ 3,999",43% off,7 reviews,‚òÖ\n 5.0\n,Quality sound,Amazing sound quality.totally premium.&.afford...

In [68]:
df6.sample(8)

,ProductName,ProductPrice,Discount,NumberofReviews,Rate,Review,Summary
941,BassHeads 225,\nSale price‚Çπ 399,60% off,301 reviews,‚òÖ\n 4.8\n,I am BoATHead,This is the most superb product I have ever pu...
247,Airdopes 441 - Masaba Edition,"\nSale price‚Çπ 1,799",70% off,6 reviews,‚òÖ\n 4.7\n,I like it,I loved the Masaba edition. In terms of Air do...
437,Dual Port Rapid Car Charger (Qualcomm Certified),\nSale price‚Çπ 449,50% off,7 reviews,‚òÖ\n 5.0\n,Suberb,The car charger is excellent.
809,TRebel BassHeads 242,\nSale price‚Çπ 599,60% off,371 reviews,‚òÖ\n 4.8\n,Great,This product is very nice
115,Aavante Bar 550,"\nSale price‚Çπ 1,999",50% off,6 reviews,‚òÖ\n 4.7\n,Excellent Product,This product is very good and sound quality is...
782,TRebel BassHeads 152,\nSale price‚Çπ 499,61% off,11 reviews,‚òÖ\n 5.0\n,Very good good,Good headset and Super clarity bassTRebel Bass...
216,Stone SpinX 2.0 Bira Edition,"\nSale price‚Çπ 2,099",70% off,7 reviews,‚òÖ\n 4.9\n,Boat is best . Bira is awesome. Spinx 2.0 is üî•,I loved the spinx 2.0 bira edition. The graphi...
432,LTG 500 Indestructible Apple Certified Lightn...,\nSale price‚Çπ 799,47% off,48 reviews,‚òÖ\n 4.8\n,Good quality,Best in the market.

In [69]:
df6.drop(['ProductName','ProductPrice','Discount','NumberofReviews','Review'],axis=1,inplace=True)

In [70]:
df6.head()

             Rate                                            Summary
0  ‚òÖ\n  5.0\n                Very good product in this price range..
1  ‚òÖ\n  5.0\n                                    Outstanding Product
2  ‚òÖ\n  5.0\n      Works like a charm. Good sound quality. Visual...
3  ‚òÖ\n  5.0\n                                                  Great
4  ‚òÖ\n  5.0\n      Amazing sound quality.totally premium.&.afford...

In [71]:
#load next data
df7=pd.read_csv('ChatGPT_Reviews.csv')

In [72]:
#view
df7.head()

,Review Id,Review,Ratings,Review Date
0,6fb93778-651a-4ad1-b5ed-67dd0bd35aac,good,5,8/23/2024 19:30
1,81caeefd-3a28-4601-a898-72897ac906f5,good,5,8/23/2024 19:28
2,452af49e-1d8b-4b68-b1ac-a94c64cb1dd5,nice app,5,8/23/2024 19:22
3,372a4096-ee6a-4b94-b046-cef0b646c965,"nice, ig",5,8/23/2024 19:20
4,b0d66a4b-9bde-4b7c-8b11-66ed6ccdd7da,"this is a great app, the bot is so accurate to...",5,8/23/2024 19:20

In [73]:
#inspect
df7.shape

(27, 4)

In [74]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Review Id    27 non-null     object
 1   Review       27 non-null     object
 2   Ratings      27 non-null     int64
 3   Review Date  27 non-null     object
dtypes: int64(1), object(3)
memory usage: 996.0+ bytes

In [75]:
df7.describe()

         Ratings
count  27.000000
mean    4.481481
std     1.051386
min     1.000000
25%     4.500000
50%     5.000000
75%     5.000000
max     5.000000

In [76]:
#check for null
df7.isnull().sum()

Review Id      0
Review         0
Ratings        0
Review Date    0
dtype: int64

In [77]:
#check for duplicates
df7.duplicated().sum()

np.int64(0)

In [78]:
df7.drop(['Review Id','Review Date'],axis=1,inplace=True)

In [79]:
df7.head()

                                              Review  Ratings
0                                               good        5
1                                               good        5
2                                           nice app        5
3                                           nice, ig        5
4  this is a great app, the bot is so accurate to...        5

In [80]:
#Renaming df2 col
df2.rename(columns={'Review_text':'Review Text'},inplace=True)

In [81]:
df2.head()

                                         Review Text  Rating
0                                         I liked it       5
1  I bought the phone on Amazon and been using my...       5
2  Awesome book at reasonable price, must buy ......       4
3                                               good       5
4  The book is fine,not bad,contains nice concept...       3

In [82]:
#Renaming df4 col
df4.rename(columns={'overall':'Rating'},inplace=True)

In [83]:
df4.rename(columns={'reviewText':'Review Text'},inplace=True)

In [84]:
df4.head()

                                         Review Text  Rating
1  Purchased this for my device, it worked as adv...     5.0
2  it works as expected. I should have sprung for...     4.0
3  This think has worked out great.Had a diff. br...     5.0
4  Bought it with Retail Packaging, arrived legit...     5.0
5  It's mini storage.  It doesn't do anything els...     5.0

In [85]:
#Renaming df5 col
df5.rename(columns={'review_text':'Review Text','review_rating':'Rating'},inplace=True)

In [86]:
df5.head()

                                         Review Text              Rating
0                                              NOTE:  3.0 out of 5 stars
1  Very bad experience with this iPhone xr phone....  1.0 out of 5 stars
2  Amazing phone with amazing camera coming from ...  5.0 out of 5 stars
3  So I got the iPhone XR just today. The product...  1.0 out of 5 stars
4  I've been an android user all my life until I ...  5.0 out of 5 stars

In [87]:
#Renaming df6 col
df6.rename(columns={'Summary':'Review Text','Rate':'Rating'},inplace=True)

In [88]:
df6.head()

           Rating                                        Review Text
0  ‚òÖ\n  5.0\n                Very good product in this price range..
1  ‚òÖ\n  5.0\n                                    Outstanding Product
2  ‚òÖ\n  5.0\n      Works like a charm. Good sound quality. Visual...
3  ‚òÖ\n  5.0\n                                                  Great
4  ‚òÖ\n  5.0\n      Amazing sound quality.totally premium.&.afford...

In [89]:
#Renaming df7 col
df7.rename(columns={'Review':'Review Text','Ratings':'Rating'},inplace=True)

In [90]:
df7.head()

                                         Review Text  Rating
0                                               good       5
1                                               good       5
2                                           nice app       5
3                                           nice, ig       5
4  this is a great app, the bot is so accurate to...       5

In [91]:
combined_df = pd.concat([df1, df2, df4, df7], ignore_index=True)

In [92]:
combined_df.head()

          Review Text  Rating
0  Not great speakers     3.0
1  Great little gagit     4.0
2          Awesome üëèüèΩ     5.0
3        Love my Echo     5.0
4        Great device     5.0

In [93]:
combined_df.shape

(72645, 2)

In [96]:
combined_df.to_csv('cleaned_data1.0.csv',index=False)

In [97]:
combined_df.sample(8)

                                             Review Text  Rating
69071  Only had it a few days, but so far it seems to...     5.0
15942  Watch faces are unlimited, the look overall is...     4.0
15471  Never imagined about the usefulness of product...     5.0
20953  It was one of the nice quality with good appea...     5.0
70239  I got this so I made sure my new smart phone h...     5.0
21421                     For this price mobile is worth     5.0
8595                                            Must buy     5.0
19370  Excellent in each angle of knowledge and pract...     5.0

In [98]:
combined_df.isnull().sum()

Review Text    0
Rating         0
dtype: int64

In [99]:
combined_df.duplicated().sum()

np.int64(11314)

In [100]:
combined_df.drop_duplicates(inplace=True)

In [101]:
combined_df.duplicated().sum()

np.int64(0)

In [119]:
combined_df.shape

(65500, 2)

In [102]:
combined_df.to_csv('cleaned_data_1.0.csv',index=False)