In [1]:
import pandas as pd

In [31]:
#load data cosmetics review
df3=pd.read_csv('MakeupAlley_Reviews.csv')

In [32]:
#view
df3.head()

,date,rating,review,product
0,2021-07,1.0,I normally only need to wash my hair every 3-4...,Orchid Oil Shampoo
1,2020-08,2.0,"My hair is long, thick, and dries mostly strai...",Orchid Oil Shampoo
2,2019-08,4.0,-lathers easily \n-nice smell\n-good for oily ...,Orchid Oil Shampoo
3,2018-08,5.0,I rarely have good results with using drug sto...,Orchid Oil Shampoo
4,2018-08,1.0,Has a light orchid scent. This shampoo left my...,Orchid Oil Shampoo

In [33]:
#inspect
df3.shape

(2194, 4)

In [34]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2194 entries, 0 to 2193
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     2194 non-null   object
 1   rating   2194 non-null   float64
 2   review   2194 non-null   object
 3   product  2194 non-null   object
dtypes: float64(1), object(3)
memory usage: 68.7+ KB

In [35]:
df3.describe()

            rating
count  2194.000000
mean      3.413400
std       1.470805
min       1.000000
25%       2.000000
50%       4.000000
75%       5.000000
max       5.000000

In [36]:
#check null
df3.isnull().sum()

date       0
rating     0
review     0
product    0
dtype: int64

In [37]:
#check duplicates
df3.duplicated().sum()

np.int64(0)

In [38]:
#drop unneccesary columns
df3.drop(['date','product'],axis=1,inplace=True)

In [39]:
#view
df3.head()

   rating                                             review
0     1.0  I normally only need to wash my hair every 3-4...
1     2.0  My hair is long, thick, and dries mostly strai...
2     4.0  -lathers easily \n-nice smell\n-good for oily ...
3     5.0  I rarely have good results with using drug sto...
4     1.0  Has a light orchid scent. This shampoo left my...

In [40]:
#renaming columns
df3.rename(columns={'review':'Review Text','rating':'Rating'},inplace=True)

In [41]:
#view
df3.head()

   Rating                                        Review Text
0     1.0  I normally only need to wash my hair every 3-4...
1     2.0  My hair is long, thick, and dries mostly strai...
2     4.0  -lathers easily \n-nice smell\n-good for oily ...
3     5.0  I rarely have good results with using drug sto...
4     1.0  Has a light orchid scent. This shampoo left my...

In [57]:
#load another data-Womens Clothing E-Commerce Reviews
df5=pd.read_csv('Womens Clothing E-Commerce Reviews.csv')

In [58]:
#view
df5.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [59]:
#inspect
df5.shape

(23486, 11)

In [60]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [61]:
df5.describe()

,Unnamed: 0,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count
count,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000
mean,11742.500000,918.118709,43.198544,4.196032,0.822362,2.535936
std,6779.968547,203.298980,12.279544,1.110031,0.382216,5.702202
min,0.000000,0.000000,18.000000,1.000000,0.000000,0.000000
25%,5871.250000,861.000000,34.000000,4.000000,1.000000,0.000000
50%,11742.500000,936.000000,41.000000,5.000000,1.000000,1.000000
75%,17613.750000,1078.000000,52.000000,5.000000,1.000000,3.000000
max,23485.000000,1205.000000,99.000000,5.000000,1.000000,122.000000

In [62]:
#check for null
df5.isnull().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [63]:
#removve col-Title,Unnamed
df5.drop(['Title','Unnamed: 0'],axis=1,inplace=True)

In [64]:
#drop null rows
df5.dropna(inplace=True)

In [65]:
#check nulls
df5.isnull().sum()

Clothing ID                0
Age                        0
Review Text                0
Rating                     0
Recommended IND            0
Positive Feedback Count    0
Division Name              0
Department Name            0
Class Name                 0
dtype: int64

In [66]:
#check for duplicates
df5.duplicated().sum()

np.int64(1)

In [67]:
#drop duplicates
df5.drop_duplicates(inplace=True)

In [68]:
df5.head()

,Clothing ID,Age,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,767,33,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [69]:
df5.sample(4)

,Clothing ID,Age,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
1842,868,49,I really loved this top the minute i put it on...,5,1,6,General,Tops,Knits
4784,829,42,"I didn't have any problems with the fit, i lov...",3,0,0,General,Tops,Blouses
5431,909,56,This blouse if very pretty and feminine. i agr...,4,1,0,General,Tops,Fine gauge
3672,872,48,I thought i'd add a review because a lot of th...,4,1,7,General,Tops,Knits

In [70]:
df5.columns

Index(['Clothing ID', 'Age', 'Review Text', 'Rating', 'Recommended IND',
       'Positive Feedback Count', 'Division Name', 'Department Name',
       'Class Name'],
      dtype='object')

In [71]:
#dropp unnecessary columns
df5.drop(['Clothing ID', 'Age','Recommended IND','Positive Feedback Count', 'Division Name', 'Department Name','Class Name'],axis=1,inplace=True)

In [72]:
#view
df5.head()

                                         Review Text  Rating
0  Absolutely wonderful - silky and sexy and comf...       4
1  Love this dress!  it's sooo pretty.  i happene...       5
2  I had such high hopes for this dress and reall...       3
3  I love, love, love this jumpsuit. it's fun, fl...       5
4  This shirt is very flattering to all due to th...       5

In [109]:
#combine cleaned datas
combined_df1= pd.concat([df3,df5], ignore_index=True)

In [110]:
#view
combined_df1.head()

   Rating                                        Review Text
0     1.0  I normally only need to wash my hair every 3-4...
1     2.0  My hair is long, thick, and dries mostly strai...
2     4.0  -lathers easily \n-nice smell\n-good for oily ...
3     5.0  I rarely have good results with using drug sto...
4     1.0  Has a light orchid scent. This shampoo left my...

In [114]:
#check null
combined_df1.isnull().sum()

Rating         0
Review Text    0
dtype: int64

In [115]:
#check duplicates
combined_df1.duplicated().sum()

np.int64(15)

In [116]:
#remove duplicates
combined_df1.drop_duplicates(inplace=True)

In [117]:
combined_df1.duplicated().sum()

np.int64(0)

In [118]:
#save final cleaned data of phase 2
combined_df1.to_csv('cleaned_data_2_0.csv',index=False)